body {
  font-family: monospace;
  text-align: center;
  width:100%;
  margin: 0 auto;
}

text {
	text-align: center !important;
  font-size: 3em;
}

body small {
	text-align: center;
  font-size: 2em;
}

.container {
	width: 900px;
  margin: auto !important
  position: relative;
  margin: 30px 30px 30px 30px;
}

label {
  display: block;
  text-align: left !important;
  padding-left: 20px;
}